@model LMS4Carroll.Models.ChemInventory

@{
    ViewData["Title"] = "Details | Chemical Inventory";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Inventory Details</div>
    <div class="panel-body">
        <br />
        <div>
            <h4>Chemicals Inventory</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ChemInventoryId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ChemInventoryId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ChemID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ChemID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NormalizedLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NormalizedLocation)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ExpiryDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.QtyLeft)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.QtyLeft)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Units)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Units)
                </dd>
            </dl>
        </div>
        <div id="detailsbtn">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ChemInventoryId">Edit</a><br />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
        </div>
    </div>
