@model LMS4Carroll.Models.Vendor

@{
    ViewData["Title"] = "Details | Vendor";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Vendor Details</div>
    <div class="panel-body">
        <br />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div id="detailsbtn">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.VendorID">Edit</a><br />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </div>
</div>