@model IEnumerable<LMS4Carroll.Models.Order>

@{
    ViewData["Title"] = "List | Orders";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Orders</div>
    <div class="panel-body">
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser") || User.IsInRole("AnimalUser"))
            {
                <a id="createRoleModal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add Order
                </a>
            }
        </div><br />            
        <form asp-controller="Orders" asp-action="Index">
            <p>
                <input type="text" name="OrderString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Back to Full List</a>
            </p>
        </form>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderID)
                    </th>
                    <th>
                        Vendor Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Invoice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orderdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Recievedate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser") || User.IsInRole("AnimalUser"))
                    {
                        <th>
                            Actions
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Invoice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Orderdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recievedate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser") || User.IsInRole("AnimalUser"))
                        { 
                            <td>
                                <a id="addEditApplicationRoleModal" asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>  Edit
                                </a>
                                <a id="deleteApplicationRoleModal" asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>  Delete
                                </a>
                                <a id="addEditApplicationRoleModal" asp-action="Details" asp-route-id="@item.OrderID" class="btn btn-info loc3">
                                    <i class="glyphicon glyphicon-search"></i>  Details
                                </a>
                            </td>
                        }
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
