@model LMS4Carroll.Models.Chemical

@{
    ViewData["Title"] = "Details | Chemical";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Chemical Details</div>
    <div class="panel-body">
        <br />
        <div>
            <h4>Chemical</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CAS)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CAS)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CAT)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CAT)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Formula)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Formula)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormulaName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormulaName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormulaWeight)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormulaWeight)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Hazard)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hazard)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SDS)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SDS)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>
            </dl>
        </div>
        <div id="detailsbtn">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ChemID">Edit</a><br />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </div>
</div>
