@model IEnumerable<LMS4Carroll.Models.Chemical>

@{
    ViewData["Title"] = "List | Chemicals";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Chemicals</div>
    <div class="panel-body">
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser"))
            {
                <a id="createRoleModal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add Chemical
                </a>
            }
        </div><br />
        <form asp-controller="Chemicals" asp-action="Index">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="ChemString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" />  
                    <a asp-action="Index" class="btn btn-default">Back to Full List</a>
                </p>
            </div>
        </form>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ChemID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CAS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Formula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FormulaName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FormulaWeight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hazard)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser"))
                    {
                        <th>
                            Actions
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChemID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CAS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Formula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormulaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormulaWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hazard)
                        </td>
                        <td>
                            <a target="_blank" href="@Html.DisplayFor(modelItem => item.SDS)">SDS</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser"))
                        {
                        <td>
                            <a id="addEditApplicationRoleModal" asp-action="Edit" asp-route-id="@item.ChemID" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteApplicationRoleModal" asp-action="Delete" asp-route-id="@item.ChemID" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                            <a id="addEditApplicationRoleModal" asp-action="Details" asp-route-id="@item.ChemID" class="btn btn-info loc3">
                                <i class="glyphicon glyphicon-search"></i>  Details
                            </a>
                        </td>
                       }
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
