@model LMS4Carroll.Models.BioEquipment

@{
    ViewData["Title"] = "Details | Bio Equipment";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Biological Equipment Details</div>
    <div class="panel-body">
        <br />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SerialNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InstalledDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InstalledDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InspectionDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InspectionDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EquipmentModel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EquipmentModel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EquipmentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EquipmentName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LocationID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LocationID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
            </dl>
        </div>
        <div id="detailsbtn">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.BioEquipmentID">Edit</a><br/>
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
        </div>
    </div>
